
.left-lable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.edit-data {
    color: #1E3A8A;
}

.left-side-box {
    font-size: 14px;
}

.info-parent-icon {
    cursor: pointer;
    position: relative;
}

.tooltip-text {
    position: absolute;
    background: #12204B;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    top: -42px;
    left: 81%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.info-icon:hover + .tooltip-text {
    opacity: 1;
    visibility: visible;
}

#visitorsHistoryTable td, #visitorsHistoryTable th {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.dataTables_filter {
    display: none;
}

.visitorsHistory .search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: 1px solid #E6E6E8;
    border-radius: 5px;
    padding: 5px 10px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 20%;
}

.svg-btn {
    WIDTH: 45px;
    height: 45px;
    background-color: #1E3A8A;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.visitorsHistory .search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 14px;
}

#dataTables_filter label {
    display: none;
}

.search-bar-container {
    width: 30%;
}


/* Switch Toggle Btn */
.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

    .switch input {
        opacity: 1;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 1.8em;
        width: 1.8em;
        border-radius: 50%;
        left: 2px;
        top: 2px;
        background-color: white;
        box-shadow: 0 2px 5px #999999;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
}

    input:checked + .slider:before {
        transform: translateX(22px);
    }

.needs-approval {
    background-color: #EEF1FB;
    padding: 1rem;
    border-radius: 5px;
}

.location-details .box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #F3F5FD;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 12px;
}
@media (max-width:991px) {
    .search-bar-container {
        margin-top: 1rem;
        width: 50%;
    }

    .label-boxes {
/*        width: 50%;*/
    }
}
