@using Visitor_Management_Portal.Utilities
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="login-container">
    <!-- Left Section -->
    <div class="left-section">
        <!-- Logo -->

        <div class="logo d-flex flex-column justify-content-center align-items-center gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="73.656" height="39.586" viewBox="0 0 73.656 39.586">
                <g id="Group_42915" data-name="Group 42915" transform="translate(-19.53 -38.26)">
                    <path id="Path_41206" data-name="Path 41206" d="M197.753,38.27l-.905.912a2.279,2.279,0,0,0-.53.921c-3.577,11.4-6.476,23.309-9.81,34.894-.386,1.161-1.61,2.857-2.517,2.857H171.64l.3-.362a6.029,6.029,0,0,0,1.17-2.252l9.245-34.165c.314-1.349,1.457-2.8,2.44-2.8h12.961Z" transform="translate(-118.525 -0.008)" fill="#12204b" />
                    <path id="Path_41207" data-name="Path 41207" d="M121.693,38.262l-.905.863a2.125,2.125,0,0,0-.53.874c-3.577,10.812-6.476,22.1-9.81,33.084-.386,1.1-1.61,2.709-2.517,2.709H95.58l.3-.344a5.61,5.61,0,0,0,1.17-2.135l9.245-32.395c.314-1.278,1.457-2.658,2.44-2.658h12.961Z" transform="translate(-59.259)" fill="#12204b" />
                    <path id="Path_41208" data-name="Path 41208" d="M45.641,38.27l-.905.79a1.927,1.927,0,0,0-.53.8c-3.577,9.909-6.476,20.253-9.81,30.319-.386,1.009-1.61,2.482-2.517,2.482H19.53l.3-.316A5.024,5.024,0,0,0,21,70.391l9.245-29.686c.314-1.172,1.457-2.435,2.44-2.435H45.643Z" transform="translate(0 -0.008)" fill="#12204b" />
                    <path id="Path_41209" data-name="Path 41209" d="M262.371,66.775l-.121-.342,6.968-25.265c.711-1.958,1.614-2.555,3.082-2.7a39.706,39.706,0,0,1,7.986.026c1.358.232,2.2,1.512,2,3.586-2.045,7.686-4.04,15.511-6.5,22.92a3.361,3.361,0,0,1-2.453,1.773H262.371Z" transform="translate(-189.129 -0.017)" fill="#d0b786" />
                </g>
            </svg>
            <div class="fw-bold back-btn d-none">  &larr; Back</div>
        </div>

        <!-- Auth Container -->
        <div class="Auth-container">

            <!--Login-form-wrapper-->

            <div class="form-wrapper login-form-wrapper ">
                <h3 class="text-center fw-semiBold fs-3 mb-3">Welcome back</h3>
                <p class="text-center mb-4">Login to your account below</p>


                <button class="singIn-with-microsoft-btn mb-4" onclick="window.location.href='/Account/Signin?provider=@Provider.Microsoft'">
                    <img src="https://img.icons8.com/color/48/microsoft.png" alt="Microsoft Icon" style="width: 20px;" class="me-2">
                    Login With Microsoft
                </button>

                <button class=" signIn-with-google-btn mb-4" onclick="window.location.href='/Account/SignIn?provider=@Provider.Google'">
                    <img src="https://img.icons8.com/color/48/google-logo.png" alt="Google Icon" style="width: 20px;" class="me-2">
                    Login With Google
                </button>

                <div class="d-flex align-items-center my-4">
                    <hr class="flex-grow-1">
                    <span class="mx-1 text-muted">Or</span>
                    <hr class="flex-grow-1">
                </div>

                <form class="login-form">
                    <div class="mb-3">
                        <label for="Login-email" class="form-label">Email Address</label>
                        <input type="email" required class="form-control" id="Login-email" placeholder="Enter Your Email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" required class="form-control" id="password" placeholder="Enter Your Password">
                    </div>
                    <a href="#" class="d-block mb-3 text-content text-decoration-none forget-password-btn text-end">Forgot your password?</a>
                    <button type="submit" class=" custome-btn login-btn">Login</button>
                </form>

                <p class="text-center mt-4">
                    Don't have an account? <span class="text-content fw-medium go-to-singup-page" role="button">Sign Up</span>
                </p>

                <p class="text-center footer-text mt-5">
                    WayPass 2025. All rights reserved.
                </p>
            </div>

            <!--singUp-form-wrapper-->

            <div class="form-wrapper singUp-form-wrapper d-none">
                <h3 class="text-center  fw-semiBold fs-3 mb-3">Sign Up</h3>
                <p class="text-center mb-4">Enter details to create your new account</p>


                <button class="singIn-with-microsoft-btn mb-4" onclick="window.location.href='/Account/RegisterWithProvider?provider=@Provider.Microsoft'">
                    <img src="https://img.icons8.com/color/48/microsoft.png" alt="Microsoft Icon" style="width: 20px;" class="me-2">
                    Sign Up With Microsoft
                </button>

                <button class=" signIn-with-google-btn mb-4" onclick="window.location.href='/Account/RegisterWithProvider?provider=@Provider.Google'">
                    <img src="https://img.icons8.com/color/48/google-logo.png" alt="Google Icon" style="width: 20px;" class="me-2">
                    Sign Up With Google
                </button>

                <div class="d-flex align-items-center my-4">
                    <hr class="flex-grow-1">
                    <span class="mx-3 text-muted">Or</span>
                    <hr class="flex-grow-1">
                </div>

                <button type="submit" class="  custome-btn singup-btn">Sign Up with Email</button>

                <p class="text-center mt-4">
                    Already have an account? <span class="text-content fw-medium go-to-login-page" role="button">Login</span>
                </p>

                <p class="text-center footer-text mt-5">
                    WayPass 2025. All rights reserved.
                </p>
            </div>

            <!-- Sing Up NavTabs -->

            <div class="form-wrapper singUp-NavTabs d-none ">
                <div class="Register-Step-bar">
                    <div class="bar-1 bar active-bar"></div>
                    <div class="bar-2 bar inactive-bar"></div>
                </div>
                <h3 class="text-center  fw-semiBold fs-3 mb-3">Sign Up</h3>
                <p class="text-center  mb-4">Enter details to create your new account</p>
                @*First Step*@
                <div class="first-singup-step">

                    <div class="mb-3">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input type="text" required class="form-control" id="sign-up-fullName" placeholder="Enter Your Full Name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" required class="form-control" id="sign-up-email" placeholder="Enter Your Email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" required class="form-control" id="sign-up-password" placeholder="Enter Your Password">
                    </div>

                    <div class="mb-3">
                        <input type="checkbox" id="rememberMe" class="me-2">
                        <label for="rememberMe" class="form-label rememberMe text-content">Remember me</label>
                    </div>
                    <button type="button" class=" custome-btn Continue-btn btn-non-active">Continue</button>

                </div>

                @*Last Step*@
                <div class="last-singup-step d-none">

                    <div class="mb-3">
                        <label for="OrganizationName" class="form-label">Full Name</label>
                        <input type="text" required class="form-control" id="sign-up-OrganizationName" placeholder="Enter The Organization Name">
                    </div>

                    <div class="mb-3">
                        <label for="DomainName" class="form-label">Domain Name</label>
                        <input type="text" required class="form-control" id="sign-up-DomainName" placeholder="Enter The Domain Name">
                    </div>

                    <button type="button" class=" custome-btn Complete-SignUp-btn btn-non-active">Complete Sign Up</button>

                </div>

                <p class="text-center footer-text mt-5">
                    WayPass 2025. All rights reserved.
                </p>
            </div>

            <!-- Reset Password NavTabs -->
            <div class="form-wrapper resetPassword-NavTabs d-none">
                <!-- Step Bar -->
                <div class="Register-Step-bar">
                    <div class="bar bar-1 step-bar step-bar-active"></div>
                    <div class="bar bar-2 step-bar"></div>
                    <div class="bar bar-3 step-bar"></div>
                </div>



                <!-- First Step -->
                <div class="first-resetpassword-step">
                    <h3 class="text-center fw-semiBold fs-3 mb-3">Reset your password</h3>
                    <p class="text-center mb-4">Enter the email address you used to register with</p>
                    <div class="mb-3">
                        <label for="reset-email" class="form-label">Email Address</label>
                        <input required type="email" class="form-control" id="reset-email" placeholder="Enter Your Email">
                    </div>

                    <div class="d-flex flex-column align-items-center gap-3">
                        <button type="button" class="custome-btn btn-non-active Reset-Password-btn-first-step">Reset Password</button>
                        <button type="button" class="custome-btn  Back-to-login-btn">Back to Login</button>
                    </div>
                </div>

                <!-- Second Step -->
                <div class="second-resetpassword-step d-none">
                    <h3 class="text-center fw-semiBold fs-3 mb-3">Password recovery</h3>
                    <p class="text-center mb-4">Check your email for the code and enter it to reset your password</p>

                    <div class="recovery-code-container d-flex justify-content-center gap-2">
                        <input required type="text" maxlength="1" class="code-input">
                        <input required type="text" maxlength="1" class="code-input">
                        <input required type="text" maxlength="1" class="code-input">
                        <input required type="text" maxlength="1" class="code-input">
                    </div>

                    <button type="button" class="custome-btn Continue-btn-resetPassword btn-non-active mt-3">Continue</button>
                    <p class="text-center mt-3">
                        Don't receive the email? <span class="text-content fw-medium resend-email-btn" role="button">Click to resend</span>
                    </p>
                    <button type="button" class="custome-btn Back-to-login-btn">Back to Login</button>
                </div>


                <!-- Last Step -->
                <div class="last-resetpassword-step d-none">
                    <h3 class="text-center fw-semiBold fs-3 mb-3">Enter your new password</h3>
                    <p class="text-center mb-4">Your new password must be different from previous passwords</p>

                    <div class="mb-3">
                        <label for="new-password" class="form-label">New Password</label>
                        <input required type="password" class="form-control" id="new-password" placeholder="Enter New Password">
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Confirm Password</label>
                        <input required type="password" class="form-control" id="confirm-password" placeholder="Confirm New Password">
                    </div>

                    <button type="button" class="custome-btn Complete-Reset-Password-btn">Reset Password</button>
                </div>


            </div>

        </div>
    </div>

    <!-- Right Section -->
    <div class="right-section text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="520.648" height="300" viewBox="0 0 580.648 348.079">
            <g id="Waypass_-03" data-name="Waypass -03" transform="translate(-15.82 -25.15)">
                <g id="Group_42900" data-name="Group 42900" transform="translate(139.5 25.15)">
                    <path id="Path_41068" data-name="Path 41068" d="M688.643,25.16l-4.118,4.148a10.326,10.326,0,0,0-2.411,4.193c-16.282,51.9-29.475,106.075-44.639,158.79-1.757,5.281-7.328,13-11.456,13H569.81l1.363-1.652a27.32,27.32,0,0,0,5.321-10.243L618.562,37.918c1.428-6.14,6.634-12.758,11.1-12.758h58.98Z" transform="translate(-416.965 -25.155)" fill="#fff" />
                    <path id="Path_41069" data-name="Path 41069" d="M535.543,25.16l-4.118,3.928a9.676,9.676,0,0,0-2.411,3.978c-16.282,49.206-29.475,100.579-44.639,150.559-1.757,5.007-7.328,12.324-11.456,12.324H416.71l1.363-1.567a25.469,25.469,0,0,0,5.321-9.714L465.462,37.254c1.428-5.82,6.634-12.094,11.1-12.094h58.98Z" transform="translate(-340.285 -25.155)" fill="#fff" />
                    <path id="Path_41070" data-name="Path 41070" d="M382.433,25.155l-4.118,3.6A8.761,8.761,0,0,0,375.9,32.4c-16.282,45.093-29.475,92.168-44.639,137.971-1.757,4.587-7.328,11.3-11.456,11.3H263.6l1.363-1.433a22.806,22.806,0,0,0,5.321-8.9l42.073-135.1c1.428-5.331,6.634-11.086,11.1-11.086h58.98Z" transform="translate(-263.6 -25.15)" fill="#fff" />
                    <path id="Path_41071" data-name="Path 41071" d="M752.754,154.83l-.554-1.557,31.711-114.98c3.234-8.915,7.348-11.63,14.026-12.269,9.369-.9,27.294-1.428,36.343.12,6.185,1.058,10.013,6.883,9.09,16.317-9.3,34.971-18.389,70.585-29.575,104.308-2.116,4.348-7.647,8.066-11.161,8.066H752.749Z" transform="translate(-508.315 -25.155)" fill="#d0b786" />
                </g>
                <g id="Group_42901" data-name="Group 42901" transform="translate(15.82 261.409)">
                    <path id="Path_41072" data-name="Path 41072" d="M35.107,570.858,15.82,501.825H32.347L45.1,552.274l1.3,5.346h1.133l1.353-5.346,12.8-48.448H82.641l12.8,48.448L96.8,557.62H97.93l1.3-5.3,12.853-50.5h16.477l-19.282,69.028H86.59L76.113,530.177l-3.4-13.447H71.68l-3.459,13.447L57.8,570.848H35.112Z" transform="translate(-15.82 -500.148)" fill="#fff" />
                    <path id="Path_41073" data-name="Path 41073" d="M236.455,570.868,267.3,501.84h23.385l30.573,69.028H304.889l-25.062-59.2h-1.677l-25.332,59.2H236.45Zm20.58-17.445V541.053h43.591v12.369Z" transform="translate(-126.322 -500.158)" fill="#fff" />
                    <path id="Path_41074" data-name="Path 41074" d="M418.738,552l-33.6-50.18h17.445l15.5,23.82,6.808,10.422h.864l6.754-10.317,15.608-23.929h17.445L432.025,552H418.738Zm-1.3,18.853V538.613h15.828v32.245Z" transform="translate(-200.793 -500.148)" fill="#fff" />
                    <path id="Path_41075" data-name="Path 41075" d="M566.72,570.863V501.835h15.559v69.028ZM578.226,549.9V537.479H606.2q7.24,0,10.587-2.89t3.349-8.291v-.863q0-5.458-3.349-8.346T606.2,514.2h-28.2V501.83h28.571q15.229,0,22.442,6.239t7.213,17.42v.863q0,10.969-7.213,17.256T606.577,549.9H578.221Z" transform="translate(-291.737 -500.153)" fill="#d0b786" />
                    <path id="Path_41076" data-name="Path 41076" d="M700.575,570.868l30.843-69.028H754.8l30.573,69.028H769.009l-25.062-59.2h-1.677l-25.332,59.2H700.57Zm20.58-17.445V541.053h43.591v12.369Z" transform="translate(-358.776 -500.158)" fill="#d0b786" />
                    <path id="Path_41077" data-name="Path 41077" d="M917.477,570.907a78.826,78.826,0,0,1-12.908-1,84.069,84.069,0,0,1-10.832-2.486q-4.837-1.483-8.346-2.89L883.715,549.9a94.676,94.676,0,0,0,14.965,5.376,69.464,69.464,0,0,0,18.743,2.456c6.629,0,11.271-.674,14.151-2.026s4.323-3.484,4.323-6.4v-.16a6.215,6.215,0,0,0-1.837-4.752q-1.834-1.73-6.344-2.73a103.244,103.244,0,0,0-12.5-1.7A87.856,87.856,0,0,1,896.9,536.69q-7.023-2.239-10.238-6.509t-3.215-11.236v-.269q0-10,7.966-15.1t24.114-5.106a81.8,81.8,0,0,1,18.339,1.782,74.674,74.674,0,0,1,12.828,4.053l1.782,13.342a74.347,74.347,0,0,0-14.286-4.7,77.02,77.02,0,0,0-17.2-1.837,45.409,45.409,0,0,0-10.477.943q-3.781.943-5.291,2.621a5.905,5.905,0,0,0-1.512,4.1v.055a5.965,5.965,0,0,0,1.512,4.158q1.512,1.677,5.885,2.78a91.63,91.63,0,0,0,12.908,1.917,103.394,103.394,0,0,1,18.2,3.05q7.128,2.029,10.562,6.214t3.429,11.7v.379q0,11.231-8.59,16.557t-26.141,5.321Z" transform="translate(-450.371 -498.47)" fill="#d0b786" />
                    <path id="Path_41078" data-name="Path 41078" d="M1075.357,570.907a78.826,78.826,0,0,1-12.908-1,84.077,84.077,0,0,1-10.832-2.486q-4.837-1.483-8.346-2.89l-1.677-14.635a94.672,94.672,0,0,0,14.965,5.376,69.464,69.464,0,0,0,18.743,2.456c6.629,0,11.271-.674,14.151-2.026s4.323-3.484,4.323-6.4v-.16a6.215,6.215,0,0,0-1.837-4.752q-1.834-1.73-6.344-2.73a103.245,103.245,0,0,0-12.5-1.7,87.856,87.856,0,0,1-18.309-3.269q-7.023-2.239-10.238-6.509t-3.215-11.236v-.269q0-10,7.966-15.1t24.114-5.106a81.8,81.8,0,0,1,18.339,1.782,74.675,74.675,0,0,1,12.828,4.053l1.782,13.342a74.348,74.348,0,0,0-14.286-4.7,77.019,77.019,0,0,0-17.2-1.837,45.412,45.412,0,0,0-10.477.943q-3.781.943-5.291,2.621a5.906,5.906,0,0,0-1.512,4.1v.055a5.966,5.966,0,0,0,1.512,4.158q1.513,1.677,5.885,2.78a91.632,91.632,0,0,0,12.908,1.917,103.394,103.394,0,0,1,18.2,3.05q7.128,2.029,10.562,6.214t3.429,11.7v.379q0,11.231-8.59,16.557t-26.141,5.321Z" transform="translate(-529.445 -498.47)" fill="#d0b786" />
                </g>
                <g id="Group_42902" data-name="Group 42902" transform="translate(33.31 350.447)">
                    <path id="Path_41079" data-name="Path 41079" d="M53.55,695.332a6.659,6.659,0,0,1-2.69-1.607l.7-1.388a6.769,6.769,0,0,0,2.456,1.5,9.013,9.013,0,0,0,3.165.574,5.789,5.789,0,0,0,3.429-.839,2.584,2.584,0,0,0,1.143-2.176,2.209,2.209,0,0,0-.619-1.632,4.121,4.121,0,0,0-1.522-.933c-.6-.215-1.438-.459-2.506-.719a26.526,26.526,0,0,1-3.065-.933,4.961,4.961,0,0,1-1.957-1.378,3.648,3.648,0,0,1-.814-2.506,4.237,4.237,0,0,1,.679-2.346,4.707,4.707,0,0,1,2.091-1.692,8.59,8.59,0,0,1,3.5-.634,10.445,10.445,0,0,1,2.86.4,8.321,8.321,0,0,1,2.421,1.108l-.609,1.438a8.417,8.417,0,0,0-2.286-1.058,8.585,8.585,0,0,0-2.386-.354,5.513,5.513,0,0,0-3.369.864,2.68,2.68,0,0,0-1.133,2.226,2.221,2.221,0,0,0,.619,1.642,4.074,4.074,0,0,0,1.557.948q.936.329,2.516.719a25.905,25.905,0,0,1,3.03.913,4.956,4.956,0,0,1,1.957,1.363,3.616,3.616,0,0,1,.8,2.471,4.2,4.2,0,0,1-.694,2.351,4.7,4.7,0,0,1-2.126,1.677,8.883,8.883,0,0,1-3.529.619,11,11,0,0,1-3.639-.609Z" transform="translate(-50.86 -677.736)" fill="#fff" />
                    <path id="Path_41080" data-name="Path 41080" d="M104.1,688.588a5.561,5.561,0,0,1,1.373,4.088V700.1h-1.727V692.85a4.324,4.324,0,0,0-.963-3.04,3.491,3.491,0,0,0-2.71-1.043A4.079,4.079,0,0,0,96.929,690a4.783,4.783,0,0,0-1.143,3.394V700.1H94.059v-7.248a4.324,4.324,0,0,0-.963-3.04,3.519,3.519,0,0,0-2.735-1.043A4.083,4.083,0,0,0,87.235,690a4.767,4.767,0,0,0-1.158,3.394v6.714H84.35v-12.8H86v2.336a4.648,4.648,0,0,1,1.9-1.8,5.993,5.993,0,0,1,2.8-.634,5.575,5.575,0,0,1,2.785.679,4.175,4.175,0,0,1,1.762,2.022,4.982,4.982,0,0,1,2.032-1.982,6.248,6.248,0,0,1,3.03-.719,5.093,5.093,0,0,1,3.784,1.388Z" transform="translate(-67.633 -682.039)" fill="#fff" />
                    <path id="Path_41081" data-name="Path 41081" d="M144.289,688.438a4.839,4.839,0,0,1,1.338,3.709v7.932h-1.652v-2a3.985,3.985,0,0,1-1.717,1.557,5.992,5.992,0,0,1-2.69.559,5.244,5.244,0,0,1-3.4-1.023,3.3,3.3,0,0,1-1.263-2.7,3.248,3.248,0,0,1,1.178-2.63,5.787,5.787,0,0,1,3.759-1H143.9v-.779a3.279,3.279,0,0,0-.923-2.516,3.824,3.824,0,0,0-2.7-.864,6.942,6.942,0,0,0-2.336.4,5.906,5.906,0,0,0-1.922,1.108l-.779-1.288a6.937,6.937,0,0,1,2.336-1.278,9.117,9.117,0,0,1,2.87-.449,5.423,5.423,0,0,1,3.843,1.253Zm-1.947,9.733a3.989,3.989,0,0,0,1.557-1.932v-2.091h-4.013q-3.287,0-3.284,2.286a2.09,2.09,0,0,0,.854,1.762,3.885,3.885,0,0,0,2.386.644,4.454,4.454,0,0,0,2.506-.669Z" transform="translate(-92.951 -682.024)" fill="#fff" />
                    <path id="Path_41082" data-name="Path 41082" d="M170.239,687.849a6.146,6.146,0,0,1,2.98-.659v1.677l-.414-.025a4.1,4.1,0,0,0-3.165,1.238,4.938,4.938,0,0,0-1.143,3.479v6.519H166.77v-12.8h1.652v2.506a4.187,4.187,0,0,1,1.812-1.947Z" transform="translate(-108.913 -682.029)" fill="#fff" />
                    <path id="Path_41083" data-name="Path 41083" d="M192.765,696.595a3.3,3.3,0,0,1-1.2.669,4.841,4.841,0,0,1-1.5.23,3.391,3.391,0,0,1-3.749-3.724v-7.737H184.03V684.57h2.286v-2.8h1.727v2.8h3.893v1.463h-3.893v7.637a2.391,2.391,0,0,0,.574,1.737,2.158,2.158,0,0,0,1.642.594,3.158,3.158,0,0,0,1.033-.17,2.6,2.6,0,0,0,.864-.484l.609,1.243Z" transform="translate(-117.558 -679.314)" fill="#fff" />
                    <path id="Path_41084" data-name="Path 41084" d="M234.711,678.91l-7.542,17.031h-1.777L217.85,678.91H219.8l6.519,14.79,6.569-14.79Z" transform="translate(-134.497 -677.882)" fill="#fff" />
                    <path id="Path_41085" data-name="Path 41085" d="M256.234,678.951a1.188,1.188,0,0,1-.364-.873,1.144,1.144,0,0,1,.364-.854,1.219,1.219,0,0,1,.9-.364,1.243,1.243,0,0,1,.9.354,1.138,1.138,0,0,1,.364.839,1.245,1.245,0,0,1-1.263,1.268,1.212,1.212,0,0,1-.9-.364Zm.025,3.165h1.727v12.8h-1.727Z" transform="translate(-153.539 -676.855)" fill="#fff" />
                    <path id="Path_41086" data-name="Path 41086" d="M269.406,699.759a6.393,6.393,0,0,1-2.226-1.133l.779-1.363a6.513,6.513,0,0,0,2.022,1.033,7.95,7.95,0,0,0,2.531.4,4.833,4.833,0,0,0,2.591-.549,1.741,1.741,0,0,0,.839-1.547,1.393,1.393,0,0,0-.464-1.108,3.159,3.159,0,0,0-1.168-.609,17.347,17.347,0,0,0-1.872-.4,22.278,22.278,0,0,1-2.506-.594,3.656,3.656,0,0,1-1.617-1.033,2.88,2.88,0,0,1-.669-2.022,3.157,3.157,0,0,1,1.338-2.626,6.025,6.025,0,0,1,3.724-1.023,9.63,9.63,0,0,1,2.481.329,6.865,6.865,0,0,1,2.042.864l-.754,1.388a6.461,6.461,0,0,0-3.769-1.093,4.379,4.379,0,0,0-2.5.584,1.787,1.787,0,0,0-.839,1.532,1.527,1.527,0,0,0,.474,1.168,2.9,2.9,0,0,0,1.178.644,18.132,18.132,0,0,0,1.947.424,22.165,22.165,0,0,1,2.456.584,3.647,3.647,0,0,1,1.582,1,2.736,2.736,0,0,1,.659,1.947,3.1,3.1,0,0,1-1.4,2.666,6.636,6.636,0,0,1-3.878.983,9.839,9.839,0,0,1-2.98-.449Z" transform="translate(-159.204 -682.029)" fill="#fff" />
                    <path id="Path_41087" data-name="Path 41087" d="M295.134,678.951a1.188,1.188,0,0,1-.364-.873,1.144,1.144,0,0,1,.364-.854,1.22,1.22,0,0,1,.9-.364,1.243,1.243,0,0,1,.9.354,1.138,1.138,0,0,1,.364.839,1.245,1.245,0,0,1-1.263,1.268,1.212,1.212,0,0,1-.9-.364Zm.025,3.165h1.727v12.8h-1.727Z" transform="translate(-173.022 -676.855)" fill="#fff" />
                    <path id="Path_41088" data-name="Path 41088" d="M314.375,696.595a3.3,3.3,0,0,1-1.2.669,4.841,4.841,0,0,1-1.5.23,3.391,3.391,0,0,1-3.749-3.724v-7.737H305.64V684.57h2.286v-2.8h1.727v2.8h3.893v1.463h-3.893v7.637a2.391,2.391,0,0,0,.574,1.737,2.158,2.158,0,0,0,1.642.594,3.158,3.158,0,0,0,1.033-.17,2.6,2.6,0,0,0,.864-.484l.609,1.243Z" transform="translate(-178.466 -679.314)" fill="#fff" />
                    <path id="Path_41089" data-name="Path 41089" d="M330.08,699.369a6.114,6.114,0,0,1-2.336-2.326,7.027,7.027,0,0,1,0-6.714,6.042,6.042,0,0,1,2.336-2.311,7.123,7.123,0,0,1,6.669,0,5.971,5.971,0,0,1,2.321,2.311,7.138,7.138,0,0,1,0,6.714,6.043,6.043,0,0,1-2.321,2.326,7.048,7.048,0,0,1-6.669,0Zm5.775-1.313a4.33,4.33,0,0,0,1.692-1.762,5.879,5.879,0,0,0,0-5.211,4.312,4.312,0,0,0-1.692-1.767,5.142,5.142,0,0,0-4.892,0,4.4,4.4,0,0,0-1.7,1.767,5.374,5.374,0,0,0-.619,2.606,5.432,5.432,0,0,0,.619,2.606,4.387,4.387,0,0,0,1.7,1.762,5.142,5.142,0,0,0,4.892,0Z" transform="translate(-189.109 -682.029)" fill="#fff" />
                    <path id="Path_41090" data-name="Path 41090" d="M364.479,687.849a6.146,6.146,0,0,1,2.98-.659v1.677l-.414-.025a4.1,4.1,0,0,0-3.165,1.238,4.938,4.938,0,0,0-1.143,3.479v6.519H361.01v-12.8h1.652v2.506a4.187,4.187,0,0,1,1.812-1.947Z" transform="translate(-206.198 -682.029)" fill="#fff" />
                    <path id="Path_41091" data-name="Path 41091" d="M403.952,691.384h-9.489l-2.042,4.547H390.55l7.787-17.031h1.777l7.787,17.031H406l-2.042-4.547Zm-.654-1.457-4.088-9.15-4.088,9.15Z" transform="translate(-220.993 -677.877)" fill="#fff" />
                    <path id="Path_41092" data-name="Path 41092" d="M431.57,699.379a5.96,5.96,0,0,1-2.346-2.321,7.057,7.057,0,0,1,0-6.729,6.033,6.033,0,0,1,2.346-2.311,6.932,6.932,0,0,1,3.394-.829,6.575,6.575,0,0,1,2.955.644,4.9,4.9,0,0,1,2.057,1.887l-1.288.873a4.03,4.03,0,0,0-1.607-1.423,4.785,4.785,0,0,0-2.116-.474,5.016,5.016,0,0,0-2.5.619,4.361,4.361,0,0,0-1.727,1.767,5.375,5.375,0,0,0-.619,2.606,5.443,5.443,0,0,0,.619,2.616,4.386,4.386,0,0,0,1.727,1.752,5,5,0,0,0,2.5.619,4.915,4.915,0,0,0,2.116-.459,3.966,3.966,0,0,0,1.607-1.413l1.288.873a4.9,4.9,0,0,1-2.066,1.887,6.594,6.594,0,0,1-2.945.644A6.878,6.878,0,0,1,431.57,699.379Z" transform="translate(-239.935 -682.029)" fill="#fff" />
                    <path id="Path_41093" data-name="Path 41093" d="M459.55,699.379a5.96,5.96,0,0,1-2.346-2.321,7.057,7.057,0,0,1,0-6.729,6.033,6.033,0,0,1,2.346-2.311,6.933,6.933,0,0,1,3.394-.829,6.576,6.576,0,0,1,2.955.644,4.9,4.9,0,0,1,2.056,1.887l-1.288.873a4.029,4.029,0,0,0-1.607-1.423,4.785,4.785,0,0,0-2.116-.474,5.016,5.016,0,0,0-2.5.619,4.362,4.362,0,0,0-1.727,1.767,5.375,5.375,0,0,0-.619,2.606,5.444,5.444,0,0,0,.619,2.616,4.387,4.387,0,0,0,1.727,1.752,5,5,0,0,0,2.5.619,4.915,4.915,0,0,0,2.116-.459,3.965,3.965,0,0,0,1.607-1.413l1.288.873a4.9,4.9,0,0,1-2.066,1.887,6.594,6.594,0,0,1-2.945.644A6.878,6.878,0,0,1,459.55,699.379Z" transform="translate(-253.949 -682.029)" fill="#fff" />
                    <path id="Path_41094" data-name="Path 41094" d="M496.759,694.223H486.052a4.574,4.574,0,0,0,1.532,3.225,5.087,5.087,0,0,0,3.5,1.228,5.534,5.534,0,0,0,2.191-.424A4.85,4.85,0,0,0,495.007,697l.973,1.118a5.554,5.554,0,0,1-2.126,1.557,7.246,7.246,0,0,1-2.81.534,7.1,7.1,0,0,1-3.489-.839,6.037,6.037,0,0,1-2.371-2.326,6.6,6.6,0,0,1-.854-3.354,6.871,6.871,0,0,1,.814-3.359,5.9,5.9,0,0,1,2.236-2.311,6.276,6.276,0,0,1,3.2-.829,6.178,6.178,0,0,1,3.19.829,5.888,5.888,0,0,1,2.216,2.3,6.891,6.891,0,0,1,.8,3.369l-.025.534Zm-9.279-4.368a4.652,4.652,0,0,0-1.423,3.08h9.075a4.662,4.662,0,0,0-1.423-3.08,4.707,4.707,0,0,0-6.229,0Z" transform="translate(-267.963 -682.029)" fill="#fff" />
                    <path id="Path_41095" data-name="Path 41095" d="M516,699.759a6.394,6.394,0,0,1-2.226-1.133l.779-1.363a6.512,6.512,0,0,0,2.022,1.033,7.949,7.949,0,0,0,2.531.4,4.833,4.833,0,0,0,2.591-.549,1.741,1.741,0,0,0,.839-1.547,1.393,1.393,0,0,0-.464-1.108,3.159,3.159,0,0,0-1.168-.609,17.352,17.352,0,0,0-1.872-.4,22.281,22.281,0,0,1-2.506-.594,3.656,3.656,0,0,1-1.617-1.033,2.88,2.88,0,0,1-.669-2.022,3.157,3.157,0,0,1,1.338-2.626,6.025,6.025,0,0,1,3.724-1.023,9.629,9.629,0,0,1,2.481.329,6.865,6.865,0,0,1,2.042.864l-.754,1.388a6.461,6.461,0,0,0-3.769-1.093,4.379,4.379,0,0,0-2.5.584,1.787,1.787,0,0,0-.839,1.532,1.527,1.527,0,0,0,.474,1.168,2.9,2.9,0,0,0,1.178.644,18.129,18.129,0,0,0,1.947.424,22.16,22.16,0,0,1,2.456.584,3.647,3.647,0,0,1,1.582,1,2.736,2.736,0,0,1,.659,1.947,3.1,3.1,0,0,1-1.4,2.666,6.636,6.636,0,0,1-3.878.983,9.838,9.838,0,0,1-2.98-.449Z" transform="translate(-282.708 -682.029)" fill="#fff" />
                    <path id="Path_41096" data-name="Path 41096" d="M540.806,699.759a6.394,6.394,0,0,1-2.226-1.133l.779-1.363a6.512,6.512,0,0,0,2.021,1.033,7.95,7.95,0,0,0,2.531.4,4.833,4.833,0,0,0,2.591-.549,1.741,1.741,0,0,0,.839-1.547,1.393,1.393,0,0,0-.464-1.108,3.16,3.16,0,0,0-1.168-.609,17.352,17.352,0,0,0-1.872-.4,22.281,22.281,0,0,1-2.506-.594,3.656,3.656,0,0,1-1.617-1.033,2.88,2.88,0,0,1-.669-2.022,3.157,3.157,0,0,1,1.338-2.626,6.026,6.026,0,0,1,3.724-1.023,9.63,9.63,0,0,1,2.481.329,6.866,6.866,0,0,1,2.042.864l-.754,1.388a6.461,6.461,0,0,0-3.769-1.093,4.379,4.379,0,0,0-2.5.584,1.787,1.787,0,0,0-.839,1.532,1.527,1.527,0,0,0,.474,1.168,2.9,2.9,0,0,0,1.178.644,18.134,18.134,0,0,0,1.947.424,22.16,22.16,0,0,1,2.456.584,3.647,3.647,0,0,1,1.582,1,2.737,2.737,0,0,1,.659,1.947,3.1,3.1,0,0,1-1.4,2.666,6.636,6.636,0,0,1-3.878.983,9.838,9.838,0,0,1-2.98-.449Z" transform="translate(-295.134 -682.029)" fill="#fff" />
                    <path id="Path_41097" data-name="Path 41097" d="M583.222,680.467v6.689h8.805v1.557h-8.805v7.228h-1.8V678.91H593.1v1.557Z" transform="translate(-316.59 -677.882)" fill="#fff" />
                    <path id="Path_41098" data-name="Path 41098" d="M612.245,699.369a6.115,6.115,0,0,1-2.336-2.326,6.6,6.6,0,0,1-.849-3.354,6.679,6.679,0,0,1,.849-3.359,6.042,6.042,0,0,1,2.336-2.311,7.123,7.123,0,0,1,6.669,0,5.937,5.937,0,0,1,2.321,2.311,7.138,7.138,0,0,1,0,6.714,6.042,6.042,0,0,1-2.321,2.326,7.048,7.048,0,0,1-6.669,0Zm5.78-1.313a4.33,4.33,0,0,0,1.692-1.762,5.879,5.879,0,0,0,0-5.211,4.312,4.312,0,0,0-1.692-1.767,5.142,5.142,0,0,0-4.892,0,4.4,4.4,0,0,0-1.7,1.767,5.794,5.794,0,0,0,0,5.211,4.387,4.387,0,0,0,1.7,1.762,5.142,5.142,0,0,0,4.892,0Z" transform="translate(-330.433 -682.029)" fill="#fff" />
                    <path id="Path_41099" data-name="Path 41099" d="M646.644,687.849a6.146,6.146,0,0,1,2.98-.659v1.677l-.414-.025a4.084,4.084,0,0,0-3.16,1.238,4.938,4.938,0,0,0-1.143,3.479v6.519H643.18v-12.8h1.652v2.506a4.187,4.187,0,0,1,1.812-1.947Z" transform="translate(-347.522 -682.029)" fill="#fff" />
                    <path id="Path_41100" data-name="Path 41100" d="M695.865,678.91v17.031h-1.727V682.314l-6.689,11.461H686.6l-6.689-11.386v13.552H678.18V678.91h1.482l7.4,12.629,7.323-12.629h1.483Z" transform="translate(-365.052 -677.882)" fill="#fff" />
                    <path id="Path_41101" data-name="Path 41101" d="M725.575,699.369a6.114,6.114,0,0,1-2.336-2.326,6.6,6.6,0,0,1-.849-3.354,6.679,6.679,0,0,1,.849-3.359,6.041,6.041,0,0,1,2.336-2.311,7.123,7.123,0,0,1,6.669,0,5.937,5.937,0,0,1,2.321,2.311,7.137,7.137,0,0,1,0,6.714,6.041,6.041,0,0,1-2.321,2.326,7.048,7.048,0,0,1-6.669,0Zm5.775-1.313a4.33,4.33,0,0,0,1.692-1.762,5.879,5.879,0,0,0,0-5.211,4.312,4.312,0,0,0-1.692-1.767,5.142,5.142,0,0,0-4.892,0,4.4,4.4,0,0,0-1.7,1.767,5.794,5.794,0,0,0,0,5.211,4.386,4.386,0,0,0,1.7,1.762,5.142,5.142,0,0,0,4.892,0Z" transform="translate(-387.195 -682.029)" fill="#fff" />
                    <path id="Path_41102" data-name="Path 41102" d="M766.888,676.855v18.054h-1.652v-2.531a5.267,5.267,0,0,1-2.056,1.972,6.034,6.034,0,0,1-2.885.679,6.462,6.462,0,0,1-3.26-.829,5.917,5.917,0,0,1-2.286-2.311,7.325,7.325,0,0,1,0-6.768,5.826,5.826,0,0,1,2.286-2.3,6.568,6.568,0,0,1,3.26-.814,6.066,6.066,0,0,1,2.81.644,5.354,5.354,0,0,1,2.057,1.887V676.85h1.727Zm-4.028,16.023a4.417,4.417,0,0,0,1.7-1.762,5.793,5.793,0,0,0,0-5.211,4.432,4.432,0,0,0-1.7-1.767,4.775,4.775,0,0,0-2.421-.619,4.868,4.868,0,0,0-2.446.619,4.4,4.4,0,0,0-1.7,1.767,5.793,5.793,0,0,0,0,5.211,4.386,4.386,0,0,0,1.7,1.762,4.815,4.815,0,0,0,2.446.619A4.736,4.736,0,0,0,762.86,692.878Z" transform="translate(-402.986 -676.85)" fill="#fff" />
                    <path id="Path_41103" data-name="Path 41103" d="M800.384,694.223H789.677a4.574,4.574,0,0,0,1.532,3.225,5.087,5.087,0,0,0,3.5,1.228,5.534,5.534,0,0,0,2.191-.424A4.808,4.808,0,0,0,798.632,697l.973,1.118a5.554,5.554,0,0,1-2.126,1.557,7.67,7.67,0,0,1-6.3-.3,6.036,6.036,0,0,1-2.371-2.326,6.6,6.6,0,0,1-.849-3.354,6.87,6.87,0,0,1,.814-3.359,5.9,5.9,0,0,1,2.236-2.311,6.276,6.276,0,0,1,3.2-.829,6.178,6.178,0,0,1,3.19.829,5.887,5.887,0,0,1,2.216,2.3,6.947,6.947,0,0,1,.8,3.369l-.025.534Zm-9.284-4.368a4.651,4.651,0,0,0-1.423,3.08h9.075a4.662,4.662,0,0,0-1.423-3.08,4.376,4.376,0,0,0-3.125-1.178,4.329,4.329,0,0,0-3.1,1.178Z" transform="translate(-420.035 -682.029)" fill="#fff" />
                    <path id="Path_41104" data-name="Path 41104" d="M824.4,687.849a6.146,6.146,0,0,1,2.98-.659v1.677l-.414-.025a4.084,4.084,0,0,0-3.16,1.238,4.939,4.939,0,0,0-1.143,3.479v6.519H820.94v-12.8h1.652v2.506a4.187,4.187,0,0,1,1.812-1.947Z" transform="translate(-436.553 -682.029)" fill="#fff" />
                    <path id="Path_41105" data-name="Path 41105" d="M851.422,688.6a5.465,5.465,0,0,1,1.423,4.073V700.1h-1.727V692.85a4.241,4.241,0,0,0-1-3.04,3.735,3.735,0,0,0-2.845-1.043A4.382,4.382,0,0,0,844,690a4.638,4.638,0,0,0-1.2,3.394V700.1H841.07V687.3h1.652v2.361a4.8,4.8,0,0,1,1.957-1.812,6.28,6.28,0,0,1,2.91-.644,5.254,5.254,0,0,1,3.833,1.4Z" transform="translate(-446.635 -682.039)" fill="#fff" />
                    <path id="Path_41106" data-name="Path 41106" d="M911.027,678.91l-5.74,17.031h-1.9L898.4,681.416l-5.012,14.525H891.52l-5.74-17.031h1.847l4.917,14.645,5.086-14.645h1.677l5.012,14.72,4.987-14.72h1.727Z" transform="translate(-469.028 -677.882)" fill="#fff" />
                    <path id="Path_41107" data-name="Path 41107" d="M941.835,699.369a6.115,6.115,0,0,1-2.336-2.326,6.6,6.6,0,0,1-.849-3.354,6.678,6.678,0,0,1,.849-3.359,6.042,6.042,0,0,1,2.336-2.311,7.123,7.123,0,0,1,6.669,0,5.938,5.938,0,0,1,2.321,2.311,7.138,7.138,0,0,1,0,6.714,6.043,6.043,0,0,1-2.321,2.326,7.048,7.048,0,0,1-6.669,0Zm5.78-1.313a4.33,4.33,0,0,0,1.692-1.762,5.879,5.879,0,0,0,0-5.211,4.312,4.312,0,0,0-1.692-1.767,5.142,5.142,0,0,0-4.892,0,4.4,4.4,0,0,0-1.7,1.767,5.794,5.794,0,0,0,0,5.211,4.387,4.387,0,0,0,1.7,1.762,5.142,5.142,0,0,0,4.892,0Z" transform="translate(-495.508 -682.029)" fill="#fff" />
                    <path id="Path_41108" data-name="Path 41108" d="M976.234,687.849a6.146,6.146,0,0,1,2.98-.659v1.677l-.414-.025a4.084,4.084,0,0,0-3.16,1.238,4.939,4.939,0,0,0-1.143,3.479v6.519H972.77v-12.8h1.652v2.506a4.187,4.187,0,0,1,1.812-1.947Z" transform="translate(-512.597 -682.029)" fill="#fff" />
                    <path id="Path_41109" data-name="Path 41109" d="M997.642,688.49l-3.015,2.775v3.649H992.9V676.86h1.727V689.1l7.637-6.983h2.141l-5.476,5.231,5.985,7.567H1002.8Z" transform="translate(-522.679 -676.855)" fill="#fff" />
                    <path id="Path_41110" data-name="Path 41110" d="M1032.628,688.014a5.8,5.8,0,0,1,2.286,2.3,7.367,7.367,0,0,1,0,6.788,5.867,5.867,0,0,1-2.276,2.3,6.545,6.545,0,0,1-3.275.814,6.052,6.052,0,0,1-2.81-.644,5.319,5.319,0,0,1-2.057-1.887v7.128h-1.727v-17.52h1.652v2.531a5.309,5.309,0,0,1,2.057-1.947,6.034,6.034,0,0,1,2.885-.679,6.621,6.621,0,0,1,3.26.814Zm-.948,10.048a4.421,4.421,0,0,0,1.717-1.762,5.374,5.374,0,0,0,.619-2.606,5.288,5.288,0,0,0-.619-2.591,4.452,4.452,0,0,0-1.717-1.762,5.007,5.007,0,0,0-4.877,0,4.483,4.483,0,0,0-1.7,1.762,5.288,5.288,0,0,0-.619,2.591,5.374,5.374,0,0,0,.619,2.606,4.387,4.387,0,0,0,1.7,1.762,5.113,5.113,0,0,0,4.877,0Z" transform="translate(-537.639 -682.034)" fill="#fff" />
                    <path id="Path_41111" data-name="Path 41111" d="M1056.8,676.86h1.727v18.054H1056.8Z" transform="translate(-554.683 -676.855)" fill="#fff" />
                    <path id="Path_41112" data-name="Path 41112" d="M1078.139,688.438a4.839,4.839,0,0,1,1.338,3.709v7.932h-1.652v-2a3.985,3.985,0,0,1-1.717,1.557,5.992,5.992,0,0,1-2.69.559,5.244,5.244,0,0,1-3.4-1.023,3.3,3.3,0,0,1-1.263-2.7,3.248,3.248,0,0,1,1.178-2.63,5.788,5.788,0,0,1,3.759-1h4.063v-.779a3.279,3.279,0,0,0-.923-2.516,3.832,3.832,0,0,0-2.7-.864,6.92,6.92,0,0,0-2.336.4,5.867,5.867,0,0,0-1.922,1.108l-.779-1.288a6.936,6.936,0,0,1,2.336-1.278,9.116,9.116,0,0,1,2.87-.449,5.423,5.423,0,0,1,3.843,1.253Zm-1.947,9.733a3.989,3.989,0,0,0,1.557-1.932v-2.091h-4.013q-3.287,0-3.284,2.286a2.1,2.1,0,0,0,.849,1.762,3.885,3.885,0,0,0,2.386.644A4.454,4.454,0,0,0,1076.193,698.171Z" transform="translate(-560.668 -682.024)" fill="#fff" />
                    <path id="Path_41113" data-name="Path 41113" d="M1101.33,699.379a6.005,6.005,0,0,1-2.351-2.321,7.094,7.094,0,0,1,0-6.729,6.013,6.013,0,0,1,2.351-2.311,6.919,6.919,0,0,1,3.394-.829,6.576,6.576,0,0,1,2.955.644,4.9,4.9,0,0,1,2.057,1.887l-1.288.873a4,4,0,0,0-1.607-1.423,4.785,4.785,0,0,0-2.116-.474,5.016,5.016,0,0,0-2.5.619,4.363,4.363,0,0,0-1.727,1.767,5.815,5.815,0,0,0,0,5.221,4.387,4.387,0,0,0,1.727,1.752,5,5,0,0,0,2.5.619,4.916,4.916,0,0,0,2.116-.459,3.965,3.965,0,0,0,1.607-1.413l1.288.873a4.9,4.9,0,0,1-2.067,1.887,6.594,6.594,0,0,1-2.945.644A6.878,6.878,0,0,1,1101.33,699.379Z" transform="translate(-575.383 -682.029)" fill="#fff" />
                    <path id="Path_41114" data-name="Path 41114" d="M1138.554,694.223h-10.707a4.573,4.573,0,0,0,1.532,3.225,5.087,5.087,0,0,0,3.5,1.228,5.535,5.535,0,0,0,2.191-.424A4.807,4.807,0,0,0,1136.8,697l.973,1.118a5.555,5.555,0,0,1-2.126,1.557,7.669,7.669,0,0,1-6.3-.3,6.036,6.036,0,0,1-2.371-2.326,6.6,6.6,0,0,1-.848-3.354,6.871,6.871,0,0,1,.814-3.359,5.894,5.894,0,0,1,2.236-2.311,6.276,6.276,0,0,1,3.2-.829,6.179,6.179,0,0,1,3.19.829,5.887,5.887,0,0,1,2.216,2.3,6.947,6.947,0,0,1,.8,3.369l-.025.534Zm-9.284-4.368a4.65,4.65,0,0,0-1.423,3.08h9.075a4.662,4.662,0,0,0-1.422-3.08,4.377,4.377,0,0,0-3.125-1.178,4.329,4.329,0,0,0-3.1,1.178Z" transform="translate(-589.407 -682.029)" fill="#fff" />
                    <path id="Path_41115" data-name="Path 41115" d="M1157.776,699.759a6.393,6.393,0,0,1-2.226-1.133l.779-1.363a6.515,6.515,0,0,0,2.022,1.033,7.95,7.95,0,0,0,2.531.4,4.833,4.833,0,0,0,2.591-.549,1.741,1.741,0,0,0,.839-1.547,1.405,1.405,0,0,0-.459-1.108,3.159,3.159,0,0,0-1.168-.609,17.342,17.342,0,0,0-1.872-.4,22.286,22.286,0,0,1-2.506-.594,3.655,3.655,0,0,1-1.617-1.033,2.88,2.88,0,0,1-.669-2.022,3.17,3.17,0,0,1,1.338-2.626,6.026,6.026,0,0,1,3.724-1.023,9.63,9.63,0,0,1,2.481.329,6.956,6.956,0,0,1,2.047.864l-.754,1.388a6.461,6.461,0,0,0-3.769-1.093,4.39,4.39,0,0,0-2.5.584,1.775,1.775,0,0,0-.839,1.532,1.527,1.527,0,0,0,.474,1.168,2.84,2.84,0,0,0,1.178.644,18.135,18.135,0,0,0,1.947.424,22.163,22.163,0,0,1,2.456.584,3.648,3.648,0,0,1,1.582,1,2.736,2.736,0,0,1,.659,1.947,3.1,3.1,0,0,1-1.4,2.666,6.642,6.642,0,0,1-3.883.983,9.838,9.838,0,0,1-2.98-.449Z" transform="translate(-604.142 -682.029)" fill="#fff" />
                </g>
                <path id="Path_41116" data-name="Path 41116" d="M864.054,25.664l-.115.319-.23-.319-.389-.5h.1Z" transform="translate(-424.469 -0.005)" fill="#12204b" />
                <path id="Path_41117" data-name="Path 41117" d="M824.908,134.109l.454-.319-.11.319-1.343.7Z" transform="translate(-404.73 -54.412)" fill="#12204b" />
            </g>
        </svg>
    </div>
</div>

@section Scripts {

    <script>
      var errorMessage = '@(ViewBag.ErrorMessage ?? TempData["ErrorMessage"])';
      var errorStatus = '@("Error")';
    </script>

    <script src="~/Content/Account/Index/LoginPage.js"></script>
}
