
.left-lable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.edit-data {
    color: #1E3A8A;
}

.left-side-box {
    font-size: 14px;
}

#visitorsHistoryTable td, #visitorsHistoryTable th {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.dataTables_filter {
    display: none;
}

.visitorsHistory .search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: 1px solid #E6E6E8;
    border-radius: 5px;
    padding: 5px 10px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 20%;
}

.svg-btn {
    WIDTH: 45px;
    height: 45px;
    background-color: #1E3A8A;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.visitorsHistory .search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 14px;
}

#dataTables_filter label {
    display: none;
}
.search-bar-container{
    width:30%;
}

@media (max-width:991px){
    .search-bar-container{
        margin-top:1rem;
        width:50%;
    }
    .label-boxes{
        width:50%;
    }
}